# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.venv/
venv/

# Containers
*.tar
*.sif
trivy-report.txt
trivy-results.sarif

# OS / editor
.DS_Store
.idea/
.vscode/
